<h1 class="text-center title-style"> Who'll win the Instagram Battle? </h1>

<%= form_tag fights_path, method: :post do %>
<div class="container-form">
  <div class="user-form">
    <h3 class="text-center">PLAYER 1</h3>
    <div class="card-users text-center">
       <%= text_field_tag :challenger, nil, placeholder: "username player 1", :autocomplete => :off, class: "form-player1" %>
    </div>
    <div class="insta-suggestions-1">
      <div class="results">
      </div>
    </div>
  </div>
  <div class="user-form">
  <h3 class="text-center">PLAYER 2</h3>
    <div class="card-users text-center">
      <%= text_field_tag :opponent, nil, placeholder: "username player2", :autocomplete => :off, class: "form-player2" %>
    </div>
    <div class="insta-suggestions-2">
      <div class="results">
      </div>
    </div>
  </div>
</div>

<div class="card-video text-center">
  <div class="border-video">
    <%= video_tag('battle3.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "300x300") %>
  </div>
</div>

<div class="button-container">
  <div class="button-start text-center">
    <%= submit_tag "Let's fight!", class: "btn-zguy" %>
  </div>
</div>
<% end %>


<div class="container">
  <div class="social-container text-center">
    <p href="">Share:</p>
    <a href="https://twitter.com/intent/tweet?text=<%= "Who's the most popular on Instagram? Find out on Super-Battle #{request.original_url}" %>" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a id="fb-sharer-home" href="" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </div>
</div>



<%= content_for :after_js do %>
  <script>
    $(document).ready(function(){
      autocomplete("1", "<%= insta_users_path %>");
      autocomplete("2", "<%= insta_users_path %>");
    });
    window.fbAsyncInit = function() {
      FB.init({
        appId      : "1176076832469650",
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));


    $('#fb-sharer-home').click(function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: window.location.href,
      }, function(response){});
    })
  </script>
<% end %>
