<h1 class="text-center title-style"> Who'll win the Instagram Battle? </h1>

<div class="container-form">
  <div class="user-form">
    <h3 class="text-center">PLAYER 1</h3>
    <div class="card-users text-center">
      <%= form_tag fights_path, method: :post do %>
       <%= text_field_tag :challenger, nil, placeholder: "Player1", class: "form-player1" %>
    </div>
  </div>
  <div class="user-form">
  <h3 class="text-center">PLAYER 2</h3>
    <div class="card-users text-center">
      <%= text_field_tag :opponent, nil, placeholder: "Player2", class: "form-player2" %>
    </div>
  </div>
</div>

  <div class="card-video text-center">
      <div class="border-video">
        <%= video_tag('battle3.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "300x300") %>
      </div>
  </div>


<div class="button-container">
  <div class="button-start text-center">
    <%= submit_tag "Let's fight!", class: "btn-zguy" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="social-container text-center">
    <p href="">Share:</p>
    <a href="https://soundcloud.com/fantastic-mister-zguy" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </div>
</div>



