<div class="index-fight">
  <% @fights.reverse.each_with_index do |fight, i| %>
  <% id = fight.id %>
  <div class="row ">
    <div class="col-xs-12">
      <%= link_to fight_path(fight), target: "_blank" do %>
        <div class="box-fight">
          <div class="hidden" class= "fight-id"> <%= fight.id %> </div>
          <div>
            <% d = Time.at(fight.created_at.to_i) %>
            <%= d.strftime("%d/%m - %H:%M") %>
          </div>

          <div class="border-winner-index1 <%= fight.winner == fight.challenger ? "winner" : "" %>">
            <div>
              <%= image_tag fight.challenger.profile_picture, class: "avatar-medium-fights" %>
              <%= fight.challenger.username %>
            </div>
            <div class="h1 text-right" id="scorePlayer<%= fight.id %>">
              <span>
              <%= fight.final_score_challenger %>
              </span>
            </div>
          </div>

          <div class= "border-winner-index2 <%= fight.winner == fight.opponent ? "winner" : "" %>">
            <div>
              <%= fight.opponent.username %>
              <%= image_tag fight.opponent.profile_picture, class: "avatar-medium-fights" %>
            </div>
            <div class="h1" id="scorePlayer<%= fight.id + 1 %>">
              <span>
              <%= fight.final_score_opponent %>
              </span>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>



