<div class="container containers-show-animation ">
  <div class="row">
    <div class="col-xs-12">
        <div class="card">
          <div class="div-video">
            <div class="border-video">
              <%= video_tag('battle2.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "300x300") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container containers-show-score-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-6 fighterchallenger text-center">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <div class="imagechallenger">
        <%= image_tag @fight.challenger.profile_picture, class: "avatar-large" %>
      </div>
      <div>
        <p id="challenger-name"><%= @fight.challenger.username %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center fighterchallenger">
      <div id="myProgress1">
        <div id="myBar1"></div>
      </div>
      <div class="imagechallenger1">
        <%= image_tag @fight.opponent.profile_picture, class: "avatar-large" %>
      </div>
      <%= @fight.opponent.username %>
    </div>
  </div>
</div>

<div class="container container-show-scores">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="row">
        <div class="col-xs-6">
        <h2>Scores</h2>
          <div class="card-result-challenger">
            <p> <span id="score-followers-challenger"> <%= @fight.follower_score_challenger %> </span> </p>
            <p> <span> <%= @fight.engagement_score_challenger %> </span> </p>
            <p> <span> <%= @fight.media_score_challenger %> </span> </p>
            <h1 class=""> <span id="final-score-followers-challenger"> <%= @fight.final_score_challenger %> </span> </h1>
          </div>
        </div>
        <div class="col-xs-6">
        <h2>Stats</h2>
          <div class="card-challenger">
          <p> Followers : <span> <%= @fight.challenger.followed_by %> </span> </p>
          <p> Engagement : <span> <%= @fight.challenger.engagement %> </span> </p>
          <p> Posts : <span> <%= @fight.challenger.media %> </span> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="row">
        <div class="col-xs-6">
        <h2>Stats</h2>
          <div class="card-opponent">
            <p> Followers : <span> <%= @fight.opponent.followed_by %> </span> </p>
            <p> Engagement : <span> <%= @fight.opponent.engagement %> </span> </p>
            <p> Posts : <span> <%= @fight.opponent.media %> </span> </p>
          </div>
        </div>
        <div class="col-xs-6">
        <h2>Scores</h2>
          <div class="card-result-opponent">
            <p> <span> <%= @fight.follower_score_opponent %> </span> </p>
            <p> <span> <%= @fight.engagement_score_opponent %> </span> </p>
            <p> <span> <%= @fight.media_score_opponent %> </span> </p>
            <h1 class=""> <span id="final-score-followers-opponent"> <%= @fight.final_score_opponent %> </span> </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


window.addEventListener("load", function(event) {
  move('myBar', '#final-score-followers-challenger');
  move('myBar1', '#final-score-followers-opponent');
});

function move(barSelector, selector) {
  setTimeout(function () {
    var bar = document.getElementById(barSelector);
    var width = 1;
    var id = setInterval(frame, 40);
    function frame() {
      var score1 = Number($(selector).text());
      var new_score = score1 //follow_score
      if (width >= new_score) {
        clearInterval(id);
      } else {
        width += 0.4;
        bar.style.width = width + '%';
      }
    }
  }, 400);
}

</script>









