<div class="container containers-show-score-bar">
  <div class="row">
    <div class="col-xs-12 col-sm-6 fighterchallenger text-center">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <div class="imagechallenger">
        <%= image_tag @fight.challenger.profile_picture, class: "avatar-large-challenger" %>
      </div>
      <div>
        <p id="challenger-name"><%= @fight.challenger.username %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center fighterchallenger">
      <div id="myProgress1">
        <div id="myBar1"></div>
      </div>
      <div class="imagechallenger1">
        <%= image_tag @fight.opponent.profile_picture, class: "avatar-large-opponent" %>
      </div>
      <%= @fight.opponent.username %>
    </div>
  </div>
</div>

<div class="container containers-show-animation ">
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center card-result-challenger">
        <h2> <%= @fight.challenger.username %></h2>
        <div class="table-stat">
          <table>
            <tr>
              <td>Followers : </td>
              <td><span> <%= @fight.challenger.followed_by %> </span></td>
            </tr>
            <tr>
              <td>Posts : </td>
              <td><span> <%= @fight.challenger.media %> </span></td>
            </tr>
            <tr>
              <td>Engagement per post <br> (likes + comments) : </td>
              <td><span> <%= @fight.challenger.engagement %> </span></td>
            </tr>
            <tr>
              <td>Engagement per post <br> per 100 followers : </td>
              <td><span> <%= (( @fight.challenger.engagement.to_f / @fight.challenger.followed_by.to_f ) * 100).round(1) %> </span></td>
            </tr>
          </table>
        </div>
        <table>
          <tr>
            <td>SCORE</td>
            <td>CATEGORY</td>
          </tr>
          <tr>
            <td><span id="score-followers-challenger" style="visibility:hidden;"><%= @fight.follower_score_challenger %> </span></td>
            <td>Followers</td>
           </tr>
           <tr>
            <td id="score-media-challenger" style="visibility:hidden;" ><%= @fight.media_score_challenger %></span></td>
            <td style="visibility:hidden;" >Posts</td>
           </tr>
           <tr>
            <td id="score-engagement-challenger" style="visibility:hidden;" ><%= @fight.engagement_score_challenger %></span></td>
            <td>Engagement</td>
           </tr>
        </table>
        <h1 class=""> <span id="final-score-followers-challenger" style="visibility:hidden;"> <%= @fight.final_score_challenger %> </span> </h1>
      </div>
    </div>
    <div class="col-xs-4">
        <div class="card">
          <div class="div-video">
            <div class="border-video">

              <% if @fight.follower_score_challenger > @fight.follower_score_opponent%>
              <%= video_tag('battle2.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "300x300") %>
              <% else %>
              <%= video_tag('battle1.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "300x300") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center card-result-opponent">
        <h2> <%= @fight.opponent.username %></h2>
          <div class="table-stat">
            <table>
              <tr>
                <td>Followers : </td>
                <td><span> <%= @fight.opponent.followed_by %> </span></td>
              </tr>
              <tr>
                <td>Posts : </td>
                <td><span> <%= @fight.opponent.media %> </span></td>
              </tr>
              <tr>
                <td>Engagement per post <br> (likes + comments) : </td>
                <td><span> <%= @fight.opponent.engagement %> </span></td>
              </tr>
              <tr>
                <td>Engagement per post <br> per 100 followers : </td>
                <td><span> <%= (( @fight.opponent.engagement.to_f / @fight.opponent.followed_by.to_f ) * 100).round(1) %> </span></td>
              </tr>
            </table>
          </div>
        <table>
          <tr>
            <td>SCORE</td>
            <td>CATEGORY</td>
          </tr>
          <tr>
            <td id="score-followers-opponent" style="visibility:hidden;"><span><%= @fight.follower_score_opponent %> </span></td>
            <td>Followers</td>
           </tr>
           <tr>
            <td id="score-media-opponent" style="visibility:hidden;"><%= @fight.media_score_opponent %></span></td>
            <td>Posts</td>
           </tr>
           <tr>
            <td id="score-engagement-opponent" style="visibility:hidden;"><%= @fight.engagement_score_opponent %></span></td>
            <td>Engagement</td>
           </tr>
        </table>
        <h1 class=""> <span id="final-score-followers-opponent" style="visibility:hidden;""> <%= @fight.final_score_opponent %> </span> </h1>
      </div>
    </div>
  </div>
</div>


<script>


window.addEventListener("load", function(event) {
  move('myBar', '#final-score-followers-challenger');
  move('myBar1', '#final-score-followers-opponent');
  show1('score-followers-challenger');
  show1('score-followers-opponent');
  show2('score-media-challenger');
  show2('score-media-opponent');
  show3('score-engagement-challenger');
  show3('score-engagement-opponent');
  show4('final-score-followers-challenger');
  show4('final-score-followers-opponent');

});

function move(barSelector, selector) {
  setTimeout(function () {
    var bar = document.getElementById(barSelector);
    var width = 1;
    var id = setInterval(frame, 40);
    function frame() {
      var score1 = Number($(selector).text());
      var new_score = score1 //follow_score
      if (width >= new_score) {
        clearInterval(id);
      } else {
        width += 0.4;
        bar.style.width = width + '%';
      }
    }
  }, 400);
}

function show1(selector) {
  setTimeout(function(){
    document.getElementById(selector).style.visibility = "visible";
  },700);
}

function show2(selector) {
  setTimeout(function(){
    document.getElementById(selector).style.visibility = "visible";
  },1400);
}

function show3(selector) {
  setTimeout(function(){
    document.getElementById(selector).style.visibility = "visible";
  },2100);
}

function show4(selector) {
  setTimeout(function(){
    document.getElementById(selector).style.visibility = "visible";
  },2800);
}

</script>









