<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= video_tag('battle2.mp4', class: "styled_video_container", autoplay: true, loop: true, size: "320x200") %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <%= image_tag @fight.challenger.profile_picture, class: "avatar-large" %>
      <%= @fight.challenger.username %>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <%= @fight.opponent.username %>
      <%= image_tag @fight.opponent.profile_picture, class: "avatar-large" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
    <table>
      <tr>
         <th>..</th>
         <th>number</th>
         <th>Score</th>
       </tr>
        <tr>
          <td> Followers : </td>
          <td> <%= @fight.opponent.follow %> </td>
          <td> 32 </td>
        </tr>
        <tr>
          <td> Posts : </td>
          <td> <%= @fight.challenger.media %> </td>
          <td> 32 </td>
        </tr>
        <tr>
          <td> Engagement : </td>
          <td> 5% </td>
          <td> 12 </td>
        </tr>
    </table>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <p> Followers : <span> <%= @fight.challenger.follow %> </span> </p>
      <p> Following : <span> <%= @fight.challenger.followed_by %> </span> </p>
      <p> Posts : <span> <%= @fight.challenger.media %> </span> </p>
    </div>
  </div>
</div>










