<% content_for :meta_title, "#{@fight.challenger.username} VS #{@fight.opponent.username} : #{@fight.winner_name}" %>
<% content_for :meta_description, "Quickly generate fights between Instagram accounts with Super-Battle" %>
<% content_for :meta_image, image_path("super-battle-sharing.jpg") %>

<div class="container containers-show-score-bar">
  <div class="row">
     <div class="col-xs-12 col-sm-6 fighter-players text-center">
      <div id="bar-player1">
        <div id="progress-player1"></div>
      </div>
      <div class="image-player1">
        <%= image_tag @fight.challenger.profile_picture, class: "avatar-large-player1" %>
      </div>
      <%= @fight.challenger.username %>
    </div>
    <div class="col-xs-12 col-sm-6 text-center fighter-players">
      <div id="bar-player2">
        <div id="progress-player2"></div>
      </div>
      <div class="image-player2">
        <%= image_tag @fight.opponent.profile_picture, class: "avatar-large-player2" %>
      </div>
      <%= @fight.opponent.username %>
    </div>
  </div>
</div>

<div class="container" id="winner-name" style="visibility:hidden;">
  <div class="row">
    <div class="text-center title-style">
      <div>
        <h1 class="title-style"> <%= @fight.winner_name %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container-results containers-show-animation">
  <div class="results-red">
    <div class="table-score-red">
      <table>
        <tr>
          <td>Followers Score</td>
          <td id="score-followers-player1" style="visibility:hidden;">
            <span><%= @fight.follower_score_challenger %></span>
          </td>
         </tr>
         <tr>
          <td>Posts Score</td>
          <td id="score-media-player1" style="visibility:hidden;">
            <span><%=@fight.media_score_challenger %></span>
          </td>
         </tr>
         <tr>
          <td>Engagement Score</td>
          <td id="score-engagement-player1" style="visibility:hidden;">
            <span><%= @fight.engagement_score_challenger %></span>
          </td>
         </tr>
      </table>
    </div>
    <h1 class=""><span id="final-score-followers-player1" style="visibility:hidden;"> <%= @fight.final_score_challenger %></span></h1>
  </div>
  <div class="results-blue">
    <div class="table-score-blue">
      <table>
        <tr>
          <td id="score-followers-player2" style="visibility:hidden;">
            <span><%= @fight.follower_score_opponent %></span>
          </td>
          <td>Followers Score</td>
         </tr>
         <tr>
          <td id="score-media-player2" style="visibility:hidden;"><%= @fight.media_score_opponent %></span></td>
          <td>Posts Score</td>
         </tr>
         <tr>
          <td id="score-engagement-player2" style="visibility:hidden;"><%= @fight.engagement_score_opponent %></span></td>
          <td>Engagement Score</td>
         </tr>
      </table>
    </div>
    <h1 class=""><span id="final-score-followers-player2" style="visibility:hidden;"> <%= @fight.final_score_opponent %></span></h1>
  </div>
</div>

<div class="video-position">
  <div class="border-video">
    <div class="card-hover">
     <a href="#" data-toggle="modal" data-target=".modal-fight"><h1>FIGHT DETAILS</h1></a>
    </div>
      <% if @fight.follower_score_challenger > @fight.follower_score_opponent%>
      <%= video_tag('battle2.mp4', class: "styled_video_container", autoplay: true, loop: false, size: "300x300") %>
      <% else %>
      <%= video_tag('battle1.mp4', class: "styled_video_container", autoplay: true, loop: false, size: "300x300") %>
      <% end %>
  </div>
</div>

<div class="container-share">
  <h1 class="text-center title-style">SHARE THE RESULTS !!</h1>
  <div class="share">
    <h3 id="fb-sharer"><i class="fa fa-facebook-official title-style" aria-hidden="true"></i></h3>
    <h3>
      <a href="https://twitter.com/intent/tweet?text=<%= "#{@fight.challenger.username} VS #{@fight.opponent.username} : #{@fight.winner_name} #{request.original_url}" %>" title="Share on Twitter" target="_blank"><i class="fa fa-twitter title-style"></i></a>
    </h3>
  </div>
</div>


<a href="/">
  <div class="button-container-fight">
    <div class="button-start text-center">
      <%= submit_tag "New fight !", class: "btn-zguy" %>
    </div>
  </div>
</a>

<div class="modal fade modal-fight" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-details">
      <h1 class="text-center">FIGHT DETAILS</h1>
      <div class="row">
        <div class="col-xs-4">
          <div class="stat-challenger">
            <h2 class="text-center"><%= @fight.challenger.username.upcase %></h2>
            <h3 class="text-center"><%= @fight.challenger.followed_by %></h3>
            <h3 class="text-center"><%= @fight.challenger.follow %></h3>
            <h3 class="text-center"><%= @fight.challenger.media %></h3>
            <h3 class="text-center"><%= @fight.challenger.engagement %></h3>
          </div>
        </div>
        <div class="col-xs-4">
          <h2 class="text-center">STATS</h2>
          <h3 class="text-center">FOLLOWERS</h3>
          <h3 class="text-center">FOLLOWING</h3>
          <h3 class="text-center">POSTS</h3>
          <h3 class="text-center">ENGAGEMENT*</h3>
        </div>
        <div class="col-xs-4">
          <div class="stat-opponent">
            <h2 class="text-center"><%= @fight.opponent.username.upcase %></h2>
            <h3 class="text-center"><%= @fight.opponent.followed_by %></h3>
            <h3 class="text-center"><%= @fight.opponent.follow %></h3>
            <h3 class="text-center"><%= @fight.opponent.media %></h3>
            <h3 class="text-center"><%= @fight.opponent.engagement %></h3>
          </div>
        </div>
      </div>
      <p class="text-center"> *Engagement is the sum of likes and comments, for each post, per 100 followers (we only take in account the last 12 posts)</p>
    </div>
  </div>
</div>

<script>
  var timerScoreFollowers = 1800;
  var timerScorePosts = 3600;
  var timerScoreEngagement = 5000;
  var timerShowScore = 6200;
  var timerWinnerName = 6700;
  var barTimer = 1400;
  var barLoop = 0.5; //

  window.addEventListener("load", function(event) {
    movebar1('progress-player1', '#final-score-followers-player1', '#final-score-followers-player2');
    movebar1('progress-player2', '#final-score-followers-player2', '#final-score-followers-player1');
    show(timerScoreFollowers, 'score-followers-player1', 'score-followers-player2' );
    show(timerScorePosts, 'score-media-player1', 'score-media-player2');
    show(timerScoreEngagement, 'score-engagement-player1', 'score-engagement-player2');
    show(timerShowScore, 'final-score-followers-player1', 'final-score-followers-player2');
    show(timerWinnerName, 'winner-name');
  });


  function show(timer, selector1, selector2) {
    setTimeout(function(){
      document.getElementById(selector1).style.visibility = "visible";
      document.getElementById(selector2).style.visibility = "visible";
    },timer);
  }

  // lifebar Players
  function movebar1(barSelector, scoreBar, otherScore) {
    setTimeout(function () {
      var bar = document.getElementById(barSelector);
      var width = 100;
      var id = setInterval(frame, 27);
      function frame() {
        var score1 = Number($(scoreBar).text());
        var score2 = Number($(otherScore).text());
        var maxScore = Math.max(score1, score2);
        var minScore = Math.min(score1, score2);
        var barWinner = ((maxScore - minScore) / maxScore) * 100;
        var barLoser = 0;
        if (maxScore === Number($(scoreBar).text())) {
          if (width <= barWinner) {
          clearInterval(id);
          } else {
          width -= barLoop;
          bar.style.width = width + '%';
          }
        } else {
          if (width <= barLoser) {
          clearInterval(id);
          } else {
          width -= barLoop;
          bar.style.width = width + '%';
          }
        }
      }
    }, barTimer);
  }
</script>
<%= content_for(:after_js) do %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : "1176076832469650",
        xfbml      : true,
        version    : 'v2.8'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  </script>
  <script>
    $('#fb-sharer').click(function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: window.location.href,
      }, function(response){});
    })
    // $(function() {
    //   $('#fb-sharer').on('click', function() {
    //     window.open("https://www.facebook.com/sharer/sharer.php?u=" + window.location.href, "width=600, height=400, scrollbars=no");
    //   });
    // });
  </script>
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
<% end %>
